.container {
}

.container > div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.icon-arrow {
    width: 20px;
    height:20px;
}

.icon-arrow:hover{
    cursor: pointer;
}

.icon {
    width: 40px;
    height:40px;
}

.content-panel{
    grid-column-start: 2;
    grid-column-end: 3;
}