.navbar{
    background-color: #6C7A89;
    color: #D35400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 75px;
}
.navbar-logo {
    width: 50px;
    height: 50px;
}

.navbar-item{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.navbar-item div {
    padding: 10px;
}